@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*added styling for excercise*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header,
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.footer{
    background-color: rgb(224, 224, 224);
}

.left-links,
.right-links{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
    gap: 15px;
}

li a{
    color: rgb(83, 83, 83);
    text-decoration: none;

}
.content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:20px;
}
button{
    padding: 8px 16px;
    
}


